.about-section button, .gallery-button, .touch-container .form__button {
  width: 230px;
  height: 75px;
  font-size: 1.4rem;
  color: white;
  border-color: #732612;
  background-color: #732612;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.about-section button:hover, .gallery-button:hover, .touch-container .form__button:hover {
  -webkit-box-shadow: 0 1px 2px black;
  -moz-box-shadow: 0 1px 2px black;
  box-shadow: 0 1px 2px black;
  background: #892d15;
  cursor: pointer;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.grid-container {
  width: 100%;
  max-width: 65%;
  margin: 0 auto;
}

.grid-container .row::after, .grid-container .row::before {
  content: "";
  display: table;
  clear: both;
}

.grid-container .row [class*="col-"] {
  float: left;
  min-height: 1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container .row .col-1 {
  width: 8.33333%;
}

.grid-container .row .col-2 {
  width: 16.66667%;
}

.grid-container .row .col-3 {
  width: 25%;
}

.grid-container .row .col-4 {
  width: 33.33333%;
}

.grid-container .row .col-5 {
  width: 41.66667%;
}

.grid-container .row .col-6 {
  width: 50%;
}

.grid-container .row .col-7 {
  width: 58.33333%;
}

.grid-container .row .col-8 {
  width: 66.66667%;
}

.grid-container .row .col-9 {
  width: 75%;
}

.grid-container .row .col-10 {
  width: 83.33333%;
}

.grid-container .row .col-11 {
  width: 91.66667%;
}

.grid-container .row .col-12 {
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

header {
  box-sizing: border-box;
  color: white;
  width: 100%;
  height: 100vh;
  max-height: 1100px;
  background-image: url("../icons/bloodmarine.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

header span {
  color: #732612;
}

header h1, header h3, .col-12 p:first-child, .col-2 {
  text-align: center;
}

.title {
  padding: 100px 20px 20px;
}

header h1 {
  font-size: 4.4rem;
  text-transform: uppercase;
  font-weight: 900;
}

header h1 span {
  font-weight: 900;
}

header h3 {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 9px;
}

header h3 span {
  font-weight: bold;
}

.col-12 p:first-child {
  font-weight: 300;
  line-height: 1.3rem;
  padding: 0 20px;
  font-size: 1.1rem;
}

.headings-wrapper .row:last-child {
  padding-bottom: 100px;
}

.col-2 {
  width: 175px;
  height: 180px;
}

.col-2.bottom {
  margin-top: 210px !important;
}

.icon-background {
  box-sizing: border-box;
  width: 168px;
  height: 180px;
  background-image: url("../icons/background.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  margin: 0 auto;
}

.icon-background .inner-icon {
  padding-bottom: 23px;
}

.icon-background .icon-text {
  font-weight: 700;
  font-size: 1.3rem;
}

.icon-background:hover {
  cursor: pointer;
  background-image: url("../icons/background-active-red.png");
}

#scroller {
  width: 90px;
  height: 96px;
  margin: auto 47%;
}

#scroller img.bounce {
  position: absolute;
  bottom: 2%;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
  -webkit-transform-style: preserve-3d;
}

@-webkit-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#scroller img.bounce:hover {
  cursor: pointer;
  background-image: url("../icons/bloody-scroller.png");
  background-repeat: no-repeat;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  header {
    padding-bottom: 95%;
  }
  header .grid-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }
  header .grid-container .row::after, header .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  header .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
  }
  header .grid-container .row .col-1 {
    width: 8.33333%;
  }
  header .grid-container .row .col-2 {
    width: 16.66667%;
  }
  header .grid-container .row .col-3 {
    width: 25%;
  }
  header .grid-container .row .col-4 {
    width: 33.33333%;
  }
  header .grid-container .row .col-5 {
    width: 41.66667%;
  }
  header .grid-container .row .col-6 {
    width: 50%;
  }
  header .grid-container .row .col-7 {
    width: 58.33333%;
  }
  header .grid-container .row .col-8 {
    width: 66.66667%;
  }
  header .grid-container .row .col-9 {
    width: 75%;
  }
  header .grid-container .row .col-10 {
    width: 83.33333%;
  }
  header .grid-container .row .col-11 {
    width: 91.66667%;
  }
  header .grid-container .row .col-12 {
    width: 100%;
  }
  header .col-2 {
    display: none;
  }
  header #scroller {
    display: none;
  }
  header h1 {
    font-size: 2.3rem;
  }
  header h3 {
    font-size: 1.9rem;
  }
  header p {
    font-size: 1rem !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  header {
    padding-bottom: 95%;
  }
  header .grid-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }
  header .grid-container .row::after, header .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  header .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
  }
  header .grid-container .row .col-1 {
    width: 8.33333%;
  }
  header .grid-container .row .col-2 {
    width: 16.66667%;
  }
  header .grid-container .row .col-3 {
    width: 25%;
  }
  header .grid-container .row .col-4 {
    width: 33.33333%;
  }
  header .grid-container .row .col-5 {
    width: 41.66667%;
  }
  header .grid-container .row .col-6 {
    width: 50%;
  }
  header .grid-container .row .col-7 {
    width: 58.33333%;
  }
  header .grid-container .row .col-8 {
    width: 66.66667%;
  }
  header .grid-container .row .col-9 {
    width: 75%;
  }
  header .grid-container .row .col-10 {
    width: 83.33333%;
  }
  header .grid-container .row .col-11 {
    width: 91.66667%;
  }
  header .grid-container .row .col-12 {
    width: 100%;
  }
  header .col-2 {
    display: none;
  }
  header #scroller {
    display: none;
  }
  header h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding-bottom: 95%;
    height: auto;
  }
  header .grid-container {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
  }
  header .grid-container .row::after, header .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  header .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
  }
  header .grid-container .row .col-1 {
    width: 8.33333%;
  }
  header .grid-container .row .col-2 {
    width: 16.66667%;
  }
  header .grid-container .row .col-3 {
    width: 25%;
  }
  header .grid-container .row .col-4 {
    width: 33.33333%;
  }
  header .grid-container .row .col-5 {
    width: 41.66667%;
  }
  header .grid-container .row .col-6 {
    width: 50%;
  }
  header .grid-container .row .col-7 {
    width: 58.33333%;
  }
  header .grid-container .row .col-8 {
    width: 66.66667%;
  }
  header .grid-container .row .col-9 {
    width: 75%;
  }
  header .grid-container .row .col-10 {
    width: 83.33333%;
  }
  header .grid-container .row .col-11 {
    width: 91.66667%;
  }
  header .grid-container .row .col-12 {
    width: 100%;
  }
  header .icons-wrapper {
    padding-top: 0;
  }
  header #scroller {
    display: none;
  }
  header .col-2 {
    width: 33% !important;
    height: 260px;
  }
  header .col-2.bottom {
    margin-top: 0 !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  header {
    padding-bottom: 95%;
    height: auto;
  }
  header .grid-container {
    width: 100%;
    max-width: 85vw;
    margin: 0 auto;
  }
  header .grid-container .row::after, header .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  header .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header .grid-container .row .col-1 {
    width: 8.33333%;
  }
  header .grid-container .row .col-2 {
    width: 16.66667%;
  }
  header .grid-container .row .col-3 {
    width: 25%;
  }
  header .grid-container .row .col-4 {
    width: 33.33333%;
  }
  header .grid-container .row .col-5 {
    width: 41.66667%;
  }
  header .grid-container .row .col-6 {
    width: 50%;
  }
  header .grid-container .row .col-7 {
    width: 58.33333%;
  }
  header .grid-container .row .col-8 {
    width: 66.66667%;
  }
  header .grid-container .row .col-9 {
    width: 75%;
  }
  header .grid-container .row .col-10 {
    width: 83.33333%;
  }
  header .grid-container .row .col-11 {
    width: 91.66667%;
  }
  header .grid-container .row .col-12 {
    width: 100%;
  }
  header .icons-wrapper {
    padding-top: 0;
  }
  header #scroller {
    display: none;
  }
  header .col-2 {
    width: 50% !important;
  }
  header .col-2.bottom {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1493px) {
  header {
    height: auto;
  }
  header .grid-container {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
  }
  header .grid-container .row::after, header .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  header .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header .grid-container .row .col-1 {
    width: 8.33333%;
  }
  header .grid-container .row .col-2 {
    width: 16.66667%;
  }
  header .grid-container .row .col-3 {
    width: 25%;
  }
  header .grid-container .row .col-4 {
    width: 33.33333%;
  }
  header .grid-container .row .col-5 {
    width: 41.66667%;
  }
  header .grid-container .row .col-6 {
    width: 50%;
  }
  header .grid-container .row .col-7 {
    width: 58.33333%;
  }
  header .grid-container .row .col-8 {
    width: 66.66667%;
  }
  header .grid-container .row .col-9 {
    width: 75%;
  }
  header .grid-container .row .col-10 {
    width: 83.33333%;
  }
  header .grid-container .row .col-11 {
    width: 91.66667%;
  }
  header .grid-container .row .col-12 {
    width: 100%;
  }
}

nav {
  width: 100%;
  height: 145px;
  background-color: white;
}

.main-width {
  margin: 0 auto;
  width: 65vw;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-name, .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #676767;
}

.nav-name span, .logo span {
  color: #732612;
}

.hamburger-menu {
  float: right;
  padding-bottom: 0;
  cursor: pointer;
  display: none;
}

.hamburger-menu:hover .line {
  background-color: #851b00;
}

.line {
  width: 100px;
  height: 25px;
  background-color: #732612;
  border-radius: 5px;
  margin: 3px 0;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin: 0 16px;
}

.menu li a {
  text-decoration: none;
  color: #676767;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.menu li a:hover {
  color: #732612;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 95px;
  -webkit-transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sticky .main-width {
  height: 95px;
}

.sticky .main-width .nav-name {
  padding: 20px 0 15px;
}

.sticky .main-width .hamburger-menu {
  padding-top: 3px;
}

@media only screen and (max-width: 768px) {
  nav {
    height: auto;
  }
  nav .main-width {
    width: 100%;
    height: 145px;
    display: block;
  }
  nav .nav-name {
    padding-top: 53px;
    float: left;
  }
  nav .hamburger-menu {
    display: block;
    padding-top: 29px;
  }
  nav .menu {
    clear: both;
    display: none;
    border: 2px solid #732612;
  }
  nav .menu li {
    text-align: center;
    margin: 0 !important;
    background-color: #b58c82;
    border-bottom: 1px solid #732612;
  }
  nav .menu li:hover {
    background-color: #c8a9a2;
  }
  nav .menu li a {
    line-height: 40px;
  }
  nav .add-auto-height {
    height: auto;
  }
  nav .show {
    display: block;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .main-width {
    width: 100vw;
    display: block;
  }
  .main-width .nav-name {
    padding: 30px;
    text-align: center;
  }
  .main-width .menu {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1493px) {
  .main-width {
    width: 90vw;
  }
}

.grid-container {
  width: 100%;
  max-width: 65vw;
  margin: 0 auto;
}

.grid-container .row::after, .grid-container .row::before {
  content: "";
  display: table;
  clear: both;
}

.grid-container .row [class*="col-"] {
  float: left;
  min-height: 1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container .row .col-1 {
  width: 8.33333%;
}

.grid-container .row .col-2 {
  width: 16.66667%;
}

.grid-container .row .col-3 {
  width: 25%;
}

.grid-container .row .col-4 {
  width: 33.33333%;
}

.grid-container .row .col-5 {
  width: 41.66667%;
}

.grid-container .row .col-6 {
  width: 50%;
}

.grid-container .row .col-7 {
  width: 58.33333%;
}

.grid-container .row .col-8 {
  width: 66.66667%;
}

.grid-container .row .col-9 {
  width: 75%;
}

.grid-container .row .col-10 {
  width: 83.33333%;
}

.grid-container .row .col-11 {
  width: 91.66667%;
}

.grid-container .row .col-12 {
  width: 100%;
}

#section1 {
  width: 100%;
  height: 800px;
  background-color: #a57472;
  opacity: 0.9;
}

.icons4-wrapper {
  color: rgba(0, 0, 0, 0.7);
}

.icons4-wrapper h3 {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  line-height: 35px;
  margin: 20px 0;
}

.icons4-wrapper p {
  text-align: center;
  font-size: 1.1rem;
  line-height: 28px;
}

.img-holder {
  text-align: center;
  margin: 0 auto;
  height: 186px;
  width: 172px;
}

.heart {
  background-image: url("../icons/heart.png");
}

.heart:hover {
  background-image: url("../icons/bloodheart.png");
  background-position: center;
  background-repeat: no-repeat;
}

.diamond {
  background-image: url("../icons/diamond.png");
}

.diamond:hover {
  background-image: url("../icons/blooddiamand.png");
  background-position: center;
  background-repeat: no-repeat;
}

.cup {
  background-image: url("../icons/cup.png");
}

.cup:hover {
  background-image: url("../icons/bloodcup.png");
  background-position: center;
  background-repeat: no-repeat;
}

.phone {
  background-image: url("../icons/phone.png");
}

.phone:hover {
  background-image: url("../icons/bloodphone.png");
  background-position: center;
  background-repeat: no-repeat;
}

.col-3 {
  margin-top: 175px !important;
}

@media only screen and (min-width: 320px) and (max-width: 539px) {
  .grid-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }
  .grid-container .row::after, .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
  }
  .grid-container .row .col-1 {
    width: 8.33333%;
  }
  .grid-container .row .col-2 {
    width: 16.66667%;
  }
  .grid-container .row .col-3 {
    width: 25%;
  }
  .grid-container .row .col-4 {
    width: 33.33333%;
  }
  .grid-container .row .col-5 {
    width: 41.66667%;
  }
  .grid-container .row .col-6 {
    width: 50%;
  }
  .grid-container .row .col-7 {
    width: 58.33333%;
  }
  .grid-container .row .col-8 {
    width: 66.66667%;
  }
  .grid-container .row .col-9 {
    width: 75%;
  }
  .grid-container .row .col-10 {
    width: 83.33333%;
  }
  .grid-container .row .col-11 {
    width: 91.66667%;
  }
  .grid-container .row .col-12 {
    width: 100%;
  }
  #section1 {
    height: auto;
  }
  #section1 .col-3 {
    width: 100% !important;
    margin-top: 50px !important;
  }
}

@media only screen and (min-width: 540px) and (max-width: 1024px) {
  .grid-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }
  .grid-container .row::after, .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
  }
  .grid-container .row .col-1 {
    width: 8.33333%;
  }
  .grid-container .row .col-2 {
    width: 16.66667%;
  }
  .grid-container .row .col-3 {
    width: 25%;
  }
  .grid-container .row .col-4 {
    width: 33.33333%;
  }
  .grid-container .row .col-5 {
    width: 41.66667%;
  }
  .grid-container .row .col-6 {
    width: 50%;
  }
  .grid-container .row .col-7 {
    width: 58.33333%;
  }
  .grid-container .row .col-8 {
    width: 66.66667%;
  }
  .grid-container .row .col-9 {
    width: 75%;
  }
  .grid-container .row .col-10 {
    width: 83.33333%;
  }
  .grid-container .row .col-11 {
    width: 91.66667%;
  }
  .grid-container .row .col-12 {
    width: 100%;
  }
  #section1 {
    height: auto;
  }
  #section1 .col-3 {
    width: 50% !important;
    margin-top: 40px !important;
    margin-bottom: 10px !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .grid-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }
  .grid-container .row::after, .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .grid-container .row .col-1 {
    width: 8.33333%;
  }
  .grid-container .row .col-2 {
    width: 16.66667%;
  }
  .grid-container .row .col-3 {
    width: 25%;
  }
  .grid-container .row .col-4 {
    width: 33.33333%;
  }
  .grid-container .row .col-5 {
    width: 41.66667%;
  }
  .grid-container .row .col-6 {
    width: 50%;
  }
  .grid-container .row .col-7 {
    width: 58.33333%;
  }
  .grid-container .row .col-8 {
    width: 66.66667%;
  }
  .grid-container .row .col-9 {
    width: 75%;
  }
  .grid-container .row .col-10 {
    width: 83.33333%;
  }
  .grid-container .row .col-11 {
    width: 91.66667%;
  }
  .grid-container .row .col-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1493px) {
  .grid-container {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
  }
  .grid-container .row::after, .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .grid-container .row .col-1 {
    width: 8.33333%;
  }
  .grid-container .row .col-2 {
    width: 16.66667%;
  }
  .grid-container .row .col-3 {
    width: 25%;
  }
  .grid-container .row .col-4 {
    width: 33.33333%;
  }
  .grid-container .row .col-5 {
    width: 41.66667%;
  }
  .grid-container .row .col-6 {
    width: 50%;
  }
  .grid-container .row .col-7 {
    width: 58.33333%;
  }
  .grid-container .row .col-8 {
    width: 66.66667%;
  }
  .grid-container .row .col-9 {
    width: 75%;
  }
  .grid-container .row .col-10 {
    width: 83.33333%;
  }
  .grid-container .row .col-11 {
    width: 91.66667%;
  }
  .grid-container .row .col-12 {
    width: 100%;
  }
}

.grid-container {
  width: 100%;
  max-width: 65%;
  margin: 0 auto;
}

.grid-container .row::after, .grid-container .row::before {
  content: "";
  display: table;
  clear: both;
}

.grid-container .row [class*="col-"] {
  float: left;
  min-height: 1px;
  margin: 0;
  padding: 4px;
  box-sizing: border-box;
}

.grid-container .row .col-1 {
  width: 8.33333%;
}

.grid-container .row .col-2 {
  width: 16.66667%;
}

.grid-container .row .col-3 {
  width: 25%;
}

.grid-container .row .col-4 {
  width: 33.33333%;
}

.grid-container .row .col-5 {
  width: 41.66667%;
}

.grid-container .row .col-6 {
  width: 50%;
}

.grid-container .row .col-7 {
  width: 58.33333%;
}

.grid-container .row .col-8 {
  width: 66.66667%;
}

.grid-container .row .col-9 {
  width: 75%;
}

.grid-container .row .col-10 {
  width: 83.33333%;
}

.grid-container .row .col-11 {
  width: 91.66667%;
}

.grid-container .row .col-12 {
  width: 100%;
}

#about-us {
  width: 100%;
  height: 1030px;
  text-align: center;
  box-sizing: border-box;
  padding: 130px 0 130px 0;
}

.section-title::before, .section-title::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
}

.section-title {
  font-size: 3rem;
  padding: 30px;
  color: #676767;
  position: relative;
}

.section-title span {
  color: #732612;
}

.section-title::before {
  top: 70px;
  left: -10px;
  border-left: 3px solid #732612;
  border-bottom: 3px solid #732612;
}

.section-title::after {
  top: 18px;
  left: 230px;
  border-top: 3px solid #732612;
  border-right: 3px solid #732612;
}

#img-devices {
  width: 655px;
  height: 417px;
  background-image: url("../icons/devices.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.about-section .row {
  margin: 180px 0;
  text-align: left;
}

.about-section .row p {
  text-align: justify;
  font-size: 1.1rem;
  line-height: 35px;
  padding-bottom: 130px;
  display: block;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #about-us {
    height: auto;
    padding: 90px 0 0;
  }
  #about-us .grid-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  #about-us .grid-container .row::after, #about-us .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  #about-us .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #about-us .grid-container .row .col-1 {
    width: 8.33333%;
  }
  #about-us .grid-container .row .col-2 {
    width: 16.66667%;
  }
  #about-us .grid-container .row .col-3 {
    width: 25%;
  }
  #about-us .grid-container .row .col-4 {
    width: 33.33333%;
  }
  #about-us .grid-container .row .col-5 {
    width: 41.66667%;
  }
  #about-us .grid-container .row .col-6 {
    width: 50%;
  }
  #about-us .grid-container .row .col-7 {
    width: 58.33333%;
  }
  #about-us .grid-container .row .col-8 {
    width: 66.66667%;
  }
  #about-us .grid-container .row .col-9 {
    width: 75%;
  }
  #about-us .grid-container .row .col-10 {
    width: 83.33333%;
  }
  #about-us .grid-container .row .col-11 {
    width: 91.66667%;
  }
  #about-us .grid-container .row .col-12 {
    width: 100%;
  }
  #about-us .row {
    margin: 100px 0;
  }
  #about-us .row .col-5 {
    text-align: center;
    width: 100% !important;
  }
  #about-us .row .col-5 p {
    padding: 20px 20px 50px !important;
  }
  #about-us .row .col-5 button {
    margin: 20px;
  }
  #about-us .col-7 #img-devices {
    display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  #about-us {
    height: auto;
    padding: 90px 0 0;
  }
  #about-us .grid-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  #about-us .grid-container .row::after, #about-us .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  #about-us .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #about-us .grid-container .row .col-1 {
    width: 8.33333%;
  }
  #about-us .grid-container .row .col-2 {
    width: 16.66667%;
  }
  #about-us .grid-container .row .col-3 {
    width: 25%;
  }
  #about-us .grid-container .row .col-4 {
    width: 33.33333%;
  }
  #about-us .grid-container .row .col-5 {
    width: 41.66667%;
  }
  #about-us .grid-container .row .col-6 {
    width: 50%;
  }
  #about-us .grid-container .row .col-7 {
    width: 58.33333%;
  }
  #about-us .grid-container .row .col-8 {
    width: 66.66667%;
  }
  #about-us .grid-container .row .col-9 {
    width: 75%;
  }
  #about-us .grid-container .row .col-10 {
    width: 83.33333%;
  }
  #about-us .grid-container .row .col-11 {
    width: 91.66667%;
  }
  #about-us .grid-container .row .col-12 {
    width: 100%;
  }
  #about-us .row {
    margin: 100px 0;
  }
  #about-us .row .col-5 {
    text-align: center;
    width: 100% !important;
  }
  #about-us .row .col-5 p {
    padding: 20px 20px 50px !important;
  }
  #about-us .row .col-5 button {
    margin: 20px;
  }
  #about-us .col-7 {
    width: 100% !important;
  }
  #about-us .col-7 #img-devices {
    width: 320px;
    height: 240px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #about-us {
    height: auto;
    padding: 90px 0 0;
  }
  #about-us .grid-container {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
  }
  #about-us .grid-container .row::after, #about-us .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  #about-us .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #about-us .grid-container .row .col-1 {
    width: 8.33333%;
  }
  #about-us .grid-container .row .col-2 {
    width: 16.66667%;
  }
  #about-us .grid-container .row .col-3 {
    width: 25%;
  }
  #about-us .grid-container .row .col-4 {
    width: 33.33333%;
  }
  #about-us .grid-container .row .col-5 {
    width: 41.66667%;
  }
  #about-us .grid-container .row .col-6 {
    width: 50%;
  }
  #about-us .grid-container .row .col-7 {
    width: 58.33333%;
  }
  #about-us .grid-container .row .col-8 {
    width: 66.66667%;
  }
  #about-us .grid-container .row .col-9 {
    width: 75%;
  }
  #about-us .grid-container .row .col-10 {
    width: 83.33333%;
  }
  #about-us .grid-container .row .col-11 {
    width: 91.66667%;
  }
  #about-us .grid-container .row .col-12 {
    width: 100%;
  }
  #about-us .row {
    margin: 100px 0;
  }
  #about-us .row .col-5 p {
    padding: 20px 20px 50px !important;
  }
  #about-us .row .col-5 button {
    margin: 20px;
  }
  #about-us .col-7 #img-devices {
    width: 380px;
    height: 285px;
    margin: 36px auto 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  #about-us {
    height: auto;
    padding: 90px 0 0;
  }
  #about-us .grid-container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  #about-us .grid-container .row::after, #about-us .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  #about-us .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #about-us .grid-container .row .col-1 {
    width: 8.33333%;
  }
  #about-us .grid-container .row .col-2 {
    width: 16.66667%;
  }
  #about-us .grid-container .row .col-3 {
    width: 25%;
  }
  #about-us .grid-container .row .col-4 {
    width: 33.33333%;
  }
  #about-us .grid-container .row .col-5 {
    width: 41.66667%;
  }
  #about-us .grid-container .row .col-6 {
    width: 50%;
  }
  #about-us .grid-container .row .col-7 {
    width: 58.33333%;
  }
  #about-us .grid-container .row .col-8 {
    width: 66.66667%;
  }
  #about-us .grid-container .row .col-9 {
    width: 75%;
  }
  #about-us .grid-container .row .col-10 {
    width: 83.33333%;
  }
  #about-us .grid-container .row .col-11 {
    width: 91.66667%;
  }
  #about-us .grid-container .row .col-12 {
    width: 100%;
  }
  #about-us .row {
    margin: 100px 0;
  }
  #about-us .row .col-5 p {
    padding: 20px 20px 50px !important;
  }
  #about-us .row .col-5 button {
    margin: 20px;
  }
  #about-us .col-7 #img-devices {
    width: 450px;
    height: 300px;
    margin: 36px auto 0;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1493px) {
  #about-us .grid-container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }
  #about-us .grid-container .row::after, #about-us .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  #about-us .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #about-us .grid-container .row .col-1 {
    width: 8.33333%;
  }
  #about-us .grid-container .row .col-2 {
    width: 16.66667%;
  }
  #about-us .grid-container .row .col-3 {
    width: 25%;
  }
  #about-us .grid-container .row .col-4 {
    width: 33.33333%;
  }
  #about-us .grid-container .row .col-5 {
    width: 41.66667%;
  }
  #about-us .grid-container .row .col-6 {
    width: 50%;
  }
  #about-us .grid-container .row .col-7 {
    width: 58.33333%;
  }
  #about-us .grid-container .row .col-8 {
    width: 66.66667%;
  }
  #about-us .grid-container .row .col-9 {
    width: 75%;
  }
  #about-us .grid-container .row .col-10 {
    width: 83.33333%;
  }
  #about-us .grid-container .row .col-11 {
    width: 91.66667%;
  }
  #about-us .grid-container .row .col-12 {
    width: 100%;
  }
  #about-us .paragraph-wrapper p {
    padding-bottom: 95px;
  }
  #about-us .col-7 #img-devices {
    width: 550px;
    height: 390px;
  }
}

@media only screen and (min-width: 1494px) and (max-width: 1700px) {
  #about-us .grid-container {
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
  }
  #about-us .grid-container .row::after, #about-us .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  #about-us .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #about-us .grid-container .row .col-1 {
    width: 8.33333%;
  }
  #about-us .grid-container .row .col-2 {
    width: 16.66667%;
  }
  #about-us .grid-container .row .col-3 {
    width: 25%;
  }
  #about-us .grid-container .row .col-4 {
    width: 33.33333%;
  }
  #about-us .grid-container .row .col-5 {
    width: 41.66667%;
  }
  #about-us .grid-container .row .col-6 {
    width: 50%;
  }
  #about-us .grid-container .row .col-7 {
    width: 58.33333%;
  }
  #about-us .grid-container .row .col-8 {
    width: 66.66667%;
  }
  #about-us .grid-container .row .col-9 {
    width: 75%;
  }
  #about-us .grid-container .row .col-10 {
    width: 83.33333%;
  }
  #about-us .grid-container .row .col-11 {
    width: 91.66667%;
  }
  #about-us .grid-container .row .col-12 {
    width: 100%;
  }
  #about-us .paragraph-wrapper p {
    padding-bottom: 90px;
  }
  #about-us .col-7 #img-devices {
    width: 580px;
    height: 380px;
  }
}

#parallax1 {
  background-image: url("../icons/batlleship1parallax.png");
}

#services {
  background-image: url("../icons/marine.png");
}

#parallax1, #services {
  width: 100%;
  height: 625px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(115, 38, 18, 0.3);
  position: relative;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -ms-flex-pack: center;
}

#parallax1 .sentence-wrapper, #services .sentence-wrapper {
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  -ms-flex-direction: column;
  text-align: center;
  color: #000;
}

#parallax1 .sentence-wrapper .parallax-icon, #services .sentence-wrapper .parallax-icon {
  margin: 0 auto;
  opacity: 0.5;
  width: 165px;
  height: 180px;
}

#parallax1 .sentence-wrapper .border, #services .sentence-wrapper .border {
  background-color: #111;
  opacity: 0.5;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  margin-top: 40px;
}

@media only screen and (max-width: 744px) {
  .border {
    padding: 0;
    line-height: 45px;
  }
}

@media all and (max-width: 769px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #parallax1, #services {
    display: block;
  }
  #parallax1 .parallax-icon, #services .parallax-icon {
    padding-top: 25%;
  }
}

#team {
  width: 100%;
  height: 1930px;
  text-align: center;
  box-sizing: border-box;
  padding: 130px 0 130px 0;
}

.swap-icon {
  height: 70px;
  width: 65px;
  display: inline-block;
  margin-top: 130px;
  cursor: pointer;
}

.swap-icon.prev {
  background-image: url("../icons/bloodarrL.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.swap-icon.prev:hover {
  background-image: url("../icons/bloodarrLh.png");
}

.swap-icon.next {
  background-image: url("../icons/bloodarrR.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.swap-icon.next:hover {
  background-image: url("../icons/bloodarrRh.png");
}

.slider {
  width: 65%;
  overflow: hidden;
  margin: 0 auto;
}

.slider-container {
  box-sizing: border-box;
  height: 560px;
  width: 2400px;
  margin: 90px auto;
  padding: 45px 10px;
  display: flex;
  flex-direction: row;
}

.slider-container .slider-content {
  height: 90%;
  width: 250px;
  margin: auto 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slider-container .slider-content .hero-pic {
  height: 250px;
  width: 250px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);
}

.slider-container .slider-content .hero-pic:hover {
  -webkit-box-shadow: 0 8px 20px #676767;
  -moz-box-shadow: 0 8px 20px #676767;
  box-shadow: 0 8px 20px #676767;
}

.slider-container .slider-content p:nth-child(2) {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-container .slider-content p:nth-child(3) {
  font-size: 1.5rem;
  color: #676767;
  margin: 20px 0;
}

.slider-container .slider-content div {
  width: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.slider-container .slider-content div a {
  height: 47px;
  width: 48px;
}

.slider-container .slider-content div a.social-fb {
  background-image: url("../icons/fb.png");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-container .slider-content div a.social-fb:hover {
  background-image: url("../icons/fb2.png");
}

.slider-container .slider-content div a.social-g {
  background-image: url("../icons/google.png");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-container .slider-content div a.social-g:hover {
  background-image: url("../icons/google2.png");
}

.progressbars-container {
  width: 65%;
  height: auto;
  margin: 270px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.progressbars-container .bar-container {
  width: 40%;
  height: auto;
  margin-bottom: 70px;
}

.progressbars-container .bar-container .span-holder {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.progressbars-container .bar-container .span-holder span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}

.progressbars-container .bar-container .span-holder span.label {
  color: #732612;
}

.progressbars-container .bar-container .progress-bar {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #a57472;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.5);
}

.progressbars-container .bar-container .progress-bar .progress {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: #732612;
}

@media only screen and (max-width: 1300px) {
  #team {
    padding: 90px 0;
  }
  #team .swap-icon {
    margin-top: 60px;
  }
  #team .slider-container {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 850px) {
  .slider {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 350px) {
  .slider .slider-content {
    margin-left: 32px;
  }
}

@media only screen and (min-width: 351px) and (max-width: 400px) {
  .slider .slider-content {
    margin-left: 55px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 450px) {
  .slider .slider-content {
    margin-left: 84px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 500px) {
  .slider .slider-content {
    margin-left: 102px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 550px) {
  .slider .slider-content {
    margin-left: 130px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 600px) {
  .slider .slider-content {
    margin-left: 165px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 650px) {
  .slider .slider-content {
    margin-left: 6px;
  }
}

@media only screen and (min-width: 651px) and (max-width: 700px) {
  .slider .slider-content {
    margin: auto 42px;
  }
}

@media only screen and (min-width: 701px) and (max-width: 800px) {
  .slider .slider-content {
    margin: auto 61px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 850px) {
  .slider .slider-content {
    margin: auto 79px;
  }
}

@media only screen and (min-width: 851px) and (max-width: 900px) {
  .slider {
    width: 96%;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1000px) {
  .slider {
    width: 87%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  .slider {
    width: 80%;
  }
}

@media only screen and (min-width: 1101px) and (max-width: 1200px) {
  .slider {
    width: 72%;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  .slider {
    width: 66%;
  }
}

@media only screen and (min-width: 1301px) and (max-width: 1400px) {
  .slider {
    width: 90%;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1600px) {
  .slider {
    width: 83%;
  }
  .slider .slider-content {
    margin: auto 80px;
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1700px) {
  .slider {
    width: 72%;
  }
}

@media only screen and (min-width: 1701px) and (max-width: 1800px) {
  .slider {
    width: 71%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1493px) {
  #team {
    height: auto;
  }
  #team .progressbars-container {
    margin-top: 160px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .progressbars-container {
    width: 90%;
  }
  .progressbars-container .bar-container {
    width: 90%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .progressbars-container {
    width: 80%;
  }
  .progressbars-container .bar-container {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .progressbars-container {
    width: 90%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .progressbars-container {
    width: 80%;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1493px) {
  .progressbars-container {
    width: 80%;
    margin-top: 220px !important;
  }
}

#services-slider {
  width: 100%;
  height: 965px;
  background-color: #a57472;
  opacity: 0.9;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 130px 0 130px 0;
}

#services-slider .white-space {
  width: 70%;
  height: 55px;
  position: absolute;
  bottom: -1px;
  left: 15%;
  background-color: white;
}

.services {
  height: 130px;
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.services p:first-child {
  font-size: 5rem;
  padding-bottom: 10px;
}

.services p:last-child {
  font-size: 1.3rem;
  color: #47170b;
}

.motto-slider {
  height: 450px;
  width: 100%;
  margin-top: 135px;
}

.motto-slider .motto-content {
  width: 100%;
  height: 90%;
}

.motto-slider .motto-content .photo {
  width: 170px;
  height: 170px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #732612;
  margin: 0 auto 30px;
}

.motto-slider .motto-content .photo.adepta {
  background-image: url("../icons/adepta_sororita.png");
}

.motto-slider .motto-content .photo.ork {
  background-image: url("../icons/ork.png");
}

.motto-slider .motto-content .photo.chaos {
  background-image: url("../icons/chaos.png");
}

.motto-slider .motto-content .photo.guard {
  background-image: url("../icons/guard.png");
}

.motto-slider .motto-content .photo.tyranids {
  background-image: url("../icons/tyranids-tyrant.png");
}

.motto-slider .motto-content .photo.necrons {
  background-image: url("../icons/necrons.png");
}

.motto-slider .motto-content p:nth-child(2) {
  width: 60%;
  font-size: 2.4rem;
  line-height: 50px;
  font-style: italic;
  color: #1a1a1a;
  margin: 0 auto;
}

.motto-slider .motto-content p:nth-child(3) {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 35px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #services-slider {
    padding-top: 70px;
    padding-bottom: 70px;
    height: auto;
  }
  #services-slider .white-space {
    display: none;
  }
  .services {
    width: 100%;
  }
  .services p:first-child {
    font-size: 2rem;
  }
  .services p:last-child {
    font-size: 1rem;
  }
  .motto-slider {
    margin-top: 40px;
  }
  .motto-slider p:nth-child(2) {
    width: 90% !important;
    font-size: 1.5rem !important;
    line-height: 25px !important;
  }
  .motto-slider p:nth-child(3) {
    font-size: 1.5rem !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  #services-slider {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  #services-slider .white-space {
    display: none;
  }
  .services {
    width: 100%;
  }
  .services p:first-child {
    font-size: 3.3rem;
  }
  .services p:last-child {
    font-size: 1.2rem;
  }
  .motto-slider {
    margin-top: 90px;
  }
  .motto-slider p:nth-child(2) {
    width: 90% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .white-space {
    display: none;
  }
  .services {
    width: 90%;
  }
  .services p:first-child {
    font-size: 4rem;
  }
  .motto-slider {
    margin-top: 100px;
  }
  .motto-slider p:nth-child(2) {
    width: 80% !important;
  }
}

#portfolio {
  height: auto;
  width: 100%;
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding: 130px 0 130px 0;
  padding: 130px 0 20px 0;
}

#portfolio .section-title::after {
  left: 320px;
}

#portfolio .button-wrapper {
  padding-top: 50px;
  padding-bottom: 70px;
}

#portfolio .button-wrapper__tags {
  height: 30px;
  padding: 1px 20px;
  margin: 0 0.3% 5px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
}

#portfolio .button-wrapper__tags:hover {
  border-color: #732612;
  background-color: #732612;
  color: white;
}

.gallery {
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
}

.gallery__figure {
  display: inline-block;
  width: 30%;
  height: auto;
  color: black;
  margin: 10px;
}

.gallery__figure--image {
  width: 100%;
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 5px 3px 17px -4px black;
}

.gallery__figure--image:hover {
  opacity: 1;
  box-shadow: 5px 5px 20px 0 black;
}

.gallery__figure--figcaption {
  font-size: 1.3rem;
  padding: 15px;
  text-transform: capitalize;
}

.gallery-button {
  margin-top: 30px;
  margin-bottom: 170px;
}

.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.85);
}

.fullscreen img {
  display: block;
  margin: 80px auto;
  width: 1024px;
  box-shadow: 10px 10px 10px black;
}

.fullscreen video {
  display: block;
  margin: 80px auto;
  width: 70%;
  object-fit: fill;
  box-shadow: 10px 10px 10px black;
}

.fullscreen .close {
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
  background-color: #732612;
  border-color: #732612;
  cursor: pointer;
}

.fullscreen .close:hover {
  background-color: #892d15;
  border-color: #892d15;
}

.touch-container {
  width: 65%;
  height: auto;
  margin: 210px auto;
  display: flex;
  justify-content: space-between;
}

.touch-container .form {
  width: 45%;
  padding-top: 10px;
}

.touch-container .form__input {
  width: 99.5%;
  height: 70px;
  font-size: 1.3rem;
  font-family: inherit;
  color: #4e4e4e;
  text-indent: 6%;
  margin-bottom: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-color: #b4b4b4;
}

.touch-container .form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 280px;
  font-size: 1.3rem;
  font-family: inherit;
  color: #4e4e4e;
  padding: 3% 6%;
  margin-bottom: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #b4b4b4;
}

.touch-container .form__button {
  float: left;
}

.touch-container .text-block {
  width: 45%;
}

.touch-container .text-block__paragraph {
  color: #676767;
  width: 100%;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: left;
  padding-bottom: 10%;
}

.touch-container .text-block__paragraph--address, .touch-container .text-block__paragraph--phone {
  font-size: 1.7rem;
  color: black;
  font-weight: bold;
}

.touch-container .text-block__images {
  width: 100%;
  height: auto;
}

.touch-container .text-block__images--all {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 6%;
}

.touch-container .text-block__images--facebook {
  background: url("../icons/fb-big.png");
  background-repeat: no-repeat;
  background-position: center;
}

.touch-container .text-block__images--facebook:hover {
  background: url("../icons/fb-big-s.png");
  border-radius: 50%;
  border: 2px solid #2d4485;
}

.touch-container .text-block__images--twitter {
  background: url("../icons/twitter-big.png");
  background-repeat: no-repeat;
  background-position: center;
}

.touch-container .text-block__images--twitter:hover {
  background: url("../icons/twitter-big-s.png");
  border-radius: 50%;
  border: 2px solid #00b6f1;
}

.touch-container .text-block__images--google {
  background: url("../icons/google-big.png");
  background-repeat: no-repeat;
  background-position: center;
}

.touch-container .text-block__images--google:hover {
  background: url("../icons/google-big-s.png");
  border-radius: 50%;
  border: 2px solid #dd5044;
}

@media only screen and (max-width: 380px) {
  .portfolio-title, .touch-title {
    font-size: 2.5rem;
  }
  .portfolio-title::before, .touch-title::before {
    left: 8px;
    top: 60px;
  }
  .portfolio-title::after {
    left: 260px !important;
  }
  .touch-title::after {
    left: 248px !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .gallery {
    width: 90%;
  }
  .gallery__figure {
    width: 80%;
  }
  .touch-container {
    display: block;
    width: 80%;
    margin: 100px auto;
  }
  .touch-container__form {
    width: 100% !important;
  }
  .touch-container__text-block {
    clear: both;
    width: 100% !important;
    padding-top: 40px;
  }
  .touch-container__text-block .text-block__images--all {
    margin-right: 0;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1024px) {
  .gallery {
    width: 80%;
  }
  .gallery__figure {
    width: 45%;
  }
  .gallery__figure--figcaption {
    font-size: 1rem;
  }
  .touch-container {
    width: 90%;
    margin: 100px auto;
  }
  .touch-container .text-block__images--all {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  .figure__figcaption {
    font-size: 0.8rem;
  }
  .touch-container {
    width: 85%;
    margin: 100px auto;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1480px) {
  .figure__figcaption {
    font-size: 1rem;
  }
  .touch-container {
    width: 75%;
    margin: 130px auto;
  }
}

@media only screen and (min-width: 770px) and (max-width: 1024px) {
  .fullscreen video {
    margin: 250px auto;
    width: 80%;
  }
  .fullscreen img {
    margin: 170px auto;
    width: 700px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .fullscreen video {
    margin: 180px auto;
    width: 80%;
  }
  .fullscreen img {
    margin: 130px auto;
    width: 800px;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1680px) {
  .fullscreen video {
    margin: 150px auto;
    width: 80%;
  }
  .fullscreen img {
    margin: 120px auto;
    width: 900px;
  }
}

.footer {
  margin-bottom: 130px;
}

.footer__logo {
  text-align: center;
  font-size: 3rem;
}

.footer__logo sup {
  vertical-align: super;
}

@media only screen and (max-width: 400px) {
  .footer {
    margin-bottom: 50px;
  }
  .footer__logo {
    font-size: 2.4rem;
  }
}

/*# sourceMappingURL=main.css.map */