html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.grid-container {
  width: 100%;
  max-width: 65%;
  margin: 0 auto;
}

.grid-container .row::after, .grid-container .row::before {
  content: "";
  display: table;
  clear: both;
}

.grid-container .row [class*="col-"] {
  float: left;
  min-height: 1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container .row .col-1 {
  width: 8.33333%;
}

.grid-container .row .col-2 {
  width: 16.66667%;
}

.grid-container .row .col-3 {
  width: 25%;
}

.grid-container .row .col-4 {
  width: 33.33333%;
}

.grid-container .row .col-5 {
  width: 41.66667%;
}

.grid-container .row .col-6 {
  width: 50%;
}

.grid-container .row .col-7 {
  width: 58.33333%;
}

.grid-container .row .col-8 {
  width: 66.66667%;
}

.grid-container .row .col-9 {
  width: 75%;
}

.grid-container .row .col-10 {
  width: 83.33333%;
}

.grid-container .row .col-11 {
  width: 91.66667%;
}

.grid-container .row .col-12 {
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

header {
  box-sizing: border-box;
  color: white;
  width: 100%;
  height: 100vh;
  max-height: 1100px;
  background-image: url("../icons/bloodmarine.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

header span {
  color: #732612;
}

header h1, header h3, .col-12 p:first-child, .col-2 {
  text-align: center;
}

.title {
  padding: 100px 20px 20px;
}

header h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
}

header h1 span {
  font-weight: 900;
}

header h3 {
  font-size: 2rem;
  font-weight: 400;
  padding: 20px;
}

header h3 span {
  font-weight: bold;
}

.col-12 p:first-child {
  font-weight: 300;
  line-height: 1.3rem;
  padding: 0 20px;
}

.headings-wrapper .row:last-child {
  padding-bottom: 100px;
}

.col-2 {
  width: 175px;
  height: 180px;
}

.col-2.bottom {
  margin-top: 210px !important;
}

.icon-background {
  box-sizing: border-box;
  width: 168px;
  height: 180px;
  background-image: url("../icons/background.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  margin: 0 auto;
}

.icon-background .inner-icon {
  padding-bottom: 23px;
}

.icon-background .icon-text {
  font-weight: 700;
  font-size: 1.3rem;
}

.icon-background:hover {
  cursor: pointer;
  background-image: url("../icons/background-active-red.png");
}

#scroller {
  width: 90px;
  height: 96px;
  margin: auto 45%;
}

#scroller img.bounce {
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@-webkit-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#scroller img.bounce:hover {
  cursor: pointer;
  background-image: url("../icons/bloody-scroller.png");
  background-repeat: no-repeat;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  header {
    padding-bottom: 95%;
  }
  header .grid-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }
  header .grid-container .row::after, header .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  header .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
  }
  header .grid-container .row .col-1 {
    width: 8.33333%;
  }
  header .grid-container .row .col-2 {
    width: 16.66667%;
  }
  header .grid-container .row .col-3 {
    width: 25%;
  }
  header .grid-container .row .col-4 {
    width: 33.33333%;
  }
  header .grid-container .row .col-5 {
    width: 41.66667%;
  }
  header .grid-container .row .col-6 {
    width: 50%;
  }
  header .grid-container .row .col-7 {
    width: 58.33333%;
  }
  header .grid-container .row .col-8 {
    width: 66.66667%;
  }
  header .grid-container .row .col-9 {
    width: 75%;
  }
  header .grid-container .row .col-10 {
    width: 83.33333%;
  }
  header .grid-container .row .col-11 {
    width: 91.66667%;
  }
  header .grid-container .row .col-12 {
    width: 100%;
  }
  header .col-2 {
    display: none;
  }
  header #scroller {
    display: none;
  }
  header h1 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  header {
    padding-bottom: 95%;
  }
  header .grid-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }
  header .grid-container .row::after, header .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  header .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
  }
  header .grid-container .row .col-1 {
    width: 8.33333%;
  }
  header .grid-container .row .col-2 {
    width: 16.66667%;
  }
  header .grid-container .row .col-3 {
    width: 25%;
  }
  header .grid-container .row .col-4 {
    width: 33.33333%;
  }
  header .grid-container .row .col-5 {
    width: 41.66667%;
  }
  header .grid-container .row .col-6 {
    width: 50%;
  }
  header .grid-container .row .col-7 {
    width: 58.33333%;
  }
  header .grid-container .row .col-8 {
    width: 66.66667%;
  }
  header .grid-container .row .col-9 {
    width: 75%;
  }
  header .grid-container .row .col-10 {
    width: 83.33333%;
  }
  header .grid-container .row .col-11 {
    width: 91.66667%;
  }
  header .grid-container .row .col-12 {
    width: 100%;
  }
  header .col-2 {
    display: none;
  }
  header #scroller {
    display: none;
  }
  header h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    padding-bottom: 95%;
    height: auto;
  }
  header .grid-container {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
  }
  header .grid-container .row::after, header .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  header .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
  }
  header .grid-container .row .col-1 {
    width: 8.33333%;
  }
  header .grid-container .row .col-2 {
    width: 16.66667%;
  }
  header .grid-container .row .col-3 {
    width: 25%;
  }
  header .grid-container .row .col-4 {
    width: 33.33333%;
  }
  header .grid-container .row .col-5 {
    width: 41.66667%;
  }
  header .grid-container .row .col-6 {
    width: 50%;
  }
  header .grid-container .row .col-7 {
    width: 58.33333%;
  }
  header .grid-container .row .col-8 {
    width: 66.66667%;
  }
  header .grid-container .row .col-9 {
    width: 75%;
  }
  header .grid-container .row .col-10 {
    width: 83.33333%;
  }
  header .grid-container .row .col-11 {
    width: 91.66667%;
  }
  header .grid-container .row .col-12 {
    width: 100%;
  }
  header #scroller {
    display: none;
  }
  header .col-2 {
    width: 50% !important;
    height: auto;
  }
  header .col-2.bottom {
    margin-top: 0 !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  header {
    padding-bottom: 95%;
    height: auto;
  }
  header .grid-container {
    width: 100%;
    max-width: 85vw;
    margin: 0 auto;
  }
  header .grid-container .row::after, header .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  header .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header .grid-container .row .col-1 {
    width: 8.33333%;
  }
  header .grid-container .row .col-2 {
    width: 16.66667%;
  }
  header .grid-container .row .col-3 {
    width: 25%;
  }
  header .grid-container .row .col-4 {
    width: 33.33333%;
  }
  header .grid-container .row .col-5 {
    width: 41.66667%;
  }
  header .grid-container .row .col-6 {
    width: 50%;
  }
  header .grid-container .row .col-7 {
    width: 58.33333%;
  }
  header .grid-container .row .col-8 {
    width: 66.66667%;
  }
  header .grid-container .row .col-9 {
    width: 75%;
  }
  header .grid-container .row .col-10 {
    width: 83.33333%;
  }
  header .grid-container .row .col-11 {
    width: 91.66667%;
  }
  header .grid-container .row .col-12 {
    width: 100%;
  }
  header #scroller {
    display: none;
  }
  header .col-2 {
    width: 50% !important;
  }
  header .col-2.bottom {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1493px) {
  header {
    height: auto;
  }
  header .grid-container {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
  }
  header .grid-container .row::after, header .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  header .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header .grid-container .row .col-1 {
    width: 8.33333%;
  }
  header .grid-container .row .col-2 {
    width: 16.66667%;
  }
  header .grid-container .row .col-3 {
    width: 25%;
  }
  header .grid-container .row .col-4 {
    width: 33.33333%;
  }
  header .grid-container .row .col-5 {
    width: 41.66667%;
  }
  header .grid-container .row .col-6 {
    width: 50%;
  }
  header .grid-container .row .col-7 {
    width: 58.33333%;
  }
  header .grid-container .row .col-8 {
    width: 66.66667%;
  }
  header .grid-container .row .col-9 {
    width: 75%;
  }
  header .grid-container .row .col-10 {
    width: 83.33333%;
  }
  header .grid-container .row .col-11 {
    width: 91.66667%;
  }
  header .grid-container .row .col-12 {
    width: 100%;
  }
}

nav {
  width: 100%;
  height: 145px;
  background-color: white;
}

.main-width {
  margin: 0 auto;
  width: 65vw;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-name {
  font-size: 2rem;
  font-weight: 700;
  color: #676767;
}

.nav-name span {
  color: #732612;
}

.hamburger-menu {
  float: right;
  padding: 9px;
  display: block;
  cursor: pointer;
  display: none;
}

.line {
  width: 100px;
  height: 25px;
  background-color: #732612;
  border-radius: 5px;
  margin: 3px 0;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin: 0 16px;
}

.menu li a {
  text-decoration: none;
  color: #676767;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.menu li a:hover {
  color: #732612;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 15px 0;
}

@media only screen and (max-device-width: 768px) {
  nav {
    height: auto;
  }
  nav .main-width {
    width: 100%;
    height: 145px;
    display: block;
  }
  nav .nav-name {
    padding-top: 53px;
    float: left;
  }
  nav .hamburger-menu {
    display: block;
    padding-top: 29px;
  }
  nav .menu {
    clear: both;
    display: none;
    border: 2px solid #732612;
  }
  nav .menu li {
    text-align: center;
    margin: 0 !important;
    background-color: #b58c82;
    border-bottom: 1px solid #732612;
  }
  nav .menu li a {
    line-height: 40px;
  }
  nav .add-auto-height {
    height: auto;
  }
  nav .show {
    display: block;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1200px) {
  .main-width {
    width: 100vw;
    display: block;
  }
  .main-width .nav-name {
    padding: 30px;
    text-align: center;
  }
  .main-width .menu {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1493px) {
  .main-width {
    width: 90vw;
  }
}

.grid-container {
  width: 100%;
  max-width: 65vw;
  margin: 0 auto;
}

.grid-container .row::after, .grid-container .row::before {
  content: "";
  display: table;
  clear: both;
}

.grid-container .row [class*="col-"] {
  float: left;
  min-height: 1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container .row .col-1 {
  width: 8.33333%;
}

.grid-container .row .col-2 {
  width: 16.66667%;
}

.grid-container .row .col-3 {
  width: 25%;
}

.grid-container .row .col-4 {
  width: 33.33333%;
}

.grid-container .row .col-5 {
  width: 41.66667%;
}

.grid-container .row .col-6 {
  width: 50%;
}

.grid-container .row .col-7 {
  width: 58.33333%;
}

.grid-container .row .col-8 {
  width: 66.66667%;
}

.grid-container .row .col-9 {
  width: 75%;
}

.grid-container .row .col-10 {
  width: 83.33333%;
}

.grid-container .row .col-11 {
  width: 91.66667%;
}

.grid-container .row .col-12 {
  width: 100%;
}

#section1 {
  width: 100%;
  height: 800px;
  background-color: #a57472;
  opacity: 0.9;
}

.icons4-wrapper {
  color: rgba(0, 0, 0, 0.7);
}

.icons4-wrapper h3 {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  line-height: 35px;
  margin: 20px 0;
}

.icons4-wrapper p {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}

.img-holder {
  text-align: center;
  margin: 0 auto;
  height: 186px;
  width: 172px;
}

.heart {
  background-image: url("../icons/heart.png");
}

.heart:hover {
  background-image: url("../icons/bloodheart.png");
  background-position: center;
  background-repeat: no-repeat;
}

.diamond {
  background-image: url("../icons/diamond.png");
}

.diamond:hover {
  background-image: url("../icons/blooddiamand.png");
  background-position: center;
  background-repeat: no-repeat;
}

.cup {
  background-image: url("../icons/cup.png");
}

.cup:hover {
  background-image: url("../icons/bloodcup.png");
  background-position: center;
  background-repeat: no-repeat;
}

.phone {
  background-image: url("../icons/phone.png");
}

.phone:hover {
  background-image: url("../icons/bloodphone.png");
  background-position: center;
  background-repeat: no-repeat;
}

.col-3 {
  margin-top: 175px !important;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .grid-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }
  .grid-container .row::after, .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
  }
  .grid-container .row .col-1 {
    width: 8.33333%;
  }
  .grid-container .row .col-2 {
    width: 16.66667%;
  }
  .grid-container .row .col-3 {
    width: 25%;
  }
  .grid-container .row .col-4 {
    width: 33.33333%;
  }
  .grid-container .row .col-5 {
    width: 41.66667%;
  }
  .grid-container .row .col-6 {
    width: 50%;
  }
  .grid-container .row .col-7 {
    width: 58.33333%;
  }
  .grid-container .row .col-8 {
    width: 66.66667%;
  }
  .grid-container .row .col-9 {
    width: 75%;
  }
  .grid-container .row .col-10 {
    width: 83.33333%;
  }
  .grid-container .row .col-11 {
    width: 91.66667%;
  }
  .grid-container .row .col-12 {
    width: 100%;
  }
  #section1 {
    height: auto;
  }
  #section1 .col-3 {
    width: 100% !important;
    margin-top: 50px !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .grid-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }
  .grid-container .row::after, .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
  }
  .grid-container .row .col-1 {
    width: 8.33333%;
  }
  .grid-container .row .col-2 {
    width: 16.66667%;
  }
  .grid-container .row .col-3 {
    width: 25%;
  }
  .grid-container .row .col-4 {
    width: 33.33333%;
  }
  .grid-container .row .col-5 {
    width: 41.66667%;
  }
  .grid-container .row .col-6 {
    width: 50%;
  }
  .grid-container .row .col-7 {
    width: 58.33333%;
  }
  .grid-container .row .col-8 {
    width: 66.66667%;
  }
  .grid-container .row .col-9 {
    width: 75%;
  }
  .grid-container .row .col-10 {
    width: 83.33333%;
  }
  .grid-container .row .col-11 {
    width: 91.66667%;
  }
  .grid-container .row .col-12 {
    width: 100%;
  }
  #section1 {
    height: auto;
  }
  #section1 .col-3 {
    width: 50% !important;
    margin-top: 40px !important;
    margin-bottom: 10px !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .grid-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
  }
  .grid-container .row::after, .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .grid-container .row .col-1 {
    width: 8.33333%;
  }
  .grid-container .row .col-2 {
    width: 16.66667%;
  }
  .grid-container .row .col-3 {
    width: 25%;
  }
  .grid-container .row .col-4 {
    width: 33.33333%;
  }
  .grid-container .row .col-5 {
    width: 41.66667%;
  }
  .grid-container .row .col-6 {
    width: 50%;
  }
  .grid-container .row .col-7 {
    width: 58.33333%;
  }
  .grid-container .row .col-8 {
    width: 66.66667%;
  }
  .grid-container .row .col-9 {
    width: 75%;
  }
  .grid-container .row .col-10 {
    width: 83.33333%;
  }
  .grid-container .row .col-11 {
    width: 91.66667%;
  }
  .grid-container .row .col-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1493px) {
  .grid-container {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
  }
  .grid-container .row::after, .grid-container .row::before {
    content: "";
    display: table;
    clear: both;
  }
  .grid-container .row [class*="col-"] {
    float: left;
    min-height: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .grid-container .row .col-1 {
    width: 8.33333%;
  }
  .grid-container .row .col-2 {
    width: 16.66667%;
  }
  .grid-container .row .col-3 {
    width: 25%;
  }
  .grid-container .row .col-4 {
    width: 33.33333%;
  }
  .grid-container .row .col-5 {
    width: 41.66667%;
  }
  .grid-container .row .col-6 {
    width: 50%;
  }
  .grid-container .row .col-7 {
    width: 58.33333%;
  }
  .grid-container .row .col-8 {
    width: 66.66667%;
  }
  .grid-container .row .col-9 {
    width: 75%;
  }
  .grid-container .row .col-10 {
    width: 83.33333%;
  }
  .grid-container .row .col-11 {
    width: 91.66667%;
  }
  .grid-container .row .col-12 {
    width: 100%;
  }
}

#about-us {
  width: 100%;
  height: 1030px;
  background: darkred;
}

#parallax1 {
  width: 100%;
  height: 625px;
  background-image: url("../icons/batlleship1parallax.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(115, 38, 18, 0.3);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#parallax1 .sentence-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #000;
}

#parallax1 .sentence-wrapper .student-icon {
  margin: 0 auto;
  opacity: 0.5;
}

#parallax1 .sentence-wrapper .border {
  background-color: #111;
  opacity: 0.5;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  margin-top: 40px;
}

@media only screen and (max-device-width: 744px) {
  .border {
    padding: 0;
    line-height: 45px;
  }
}

#team-and-skills {
  width: 100%;
  height: 1930px;
  background: #750000;
}

/*# sourceMappingURL=main.css.map */