
@mixin grid-system($col-count,$max-width, $gutter-size) {
    $oneColWidth: 100%/$col-count;

    .grid-container {
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
        // * {
        // box-sizing: border-box;
        // }
        .row {
            &::after,
            &::before {
                content: "";
                display: table;
                clear: both;
            }

            [class*="col-"] {
                float: left;
                min-height: 1px;
                margin: 0;
                // gutter
                padding: $gutter-size;
                box-sizing: border-box;
            }
            @for $i from 1 through $col-count {
                .col-#{$i} {
                    width: $oneColWidth*$i;
                }
            }
        }
    }
}
// @include grid-system(12, 65vw, 4px);
