nav {
    width: 100%;
    height: 145px;
    background-color: $minor1-color;
}

.main-width {
    margin: 0 auto;
    width: 65vw;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo,
.nav-name {
    font-size: 2rem;
    font-weight: 700;
    color: $additional2-color;

    span {
        color: $main-color;
    }
}
//*********************************************
//************ hamburger icon *****************
//*********************************************

.hamburger-menu {
    float: right;
    padding-bottom: 0;
    cursor: pointer;
    display: none;

    &:hover {
        .line {
            background-color: saturate($main-color, 90%);
        }
    }
}

.line {
    width: 100px;
    height: 25px;
    background-color: $main-color;
    border-radius: 5px;
    margin: 3px 0;
}
//*********************************************
//******** vanilla menu/horizontal ************
//*********************************************

.menu {
    list-style: none;
    display: flex;

    li {
        margin: 0 16px;

        a {
            text-decoration: none;
            color: $additional2-color;
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;

            &:hover {
                color: $main-color;
            }
        }
    }
}
//********* sticky class for menu *************

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    //z-index fixes problem with section 1
    z-index: 10;
    height: 95px;
    @include easeInOutBack;

    .main-width {
        height: 95px;

        .nav-name {
            padding: 20px 0 15px;
        }

        .hamburger-menu {
            padding-top: 3px;
        }
    }
}
//*********************************************
//*****************media querries**************
//*********************************************
//**** smartphones and biggersmartphones******
@media only screen and (max-width: 768px) {
    .sticky {
        height: 67px;

        .main-width {
            height: 67px;
        }
    }

    nav {
        height: auto;

        .main-width {
            width: 100%;
            height: 110px;
            display: block;
        }

        .nav-name {
            padding-top: 38px;
            float: left;
        }

        .hamburger-menu {
            display: block;
            padding-top: 29px;

            div {
                width: 60px;
                height: 15px;
            }
        }
        //*********************************************
        //*********** hamburger menu/vertical *********
        //*********************************************
        .menu {
            clear: both;
            display: none;
            border: 2px solid $main-color;

            li {
                text-align: center;
                margin: 0 !important;
                background-color: $accent-color;
                border-bottom: 1px solid $main-color;

                &:hover {
                    background-color: lighten($accent-color, 10%);
                }

                a {
                    line-height: 40px;
                }
            }
        }
        //****adding class height:auto to .main-width for better look of webopage (menu not override section1)
        .add-auto-height {
            height: auto;
        }
        //*********************************************
        //*********** class for menu animation ********
        //*********************************************
        .show {
            display: block;
        }
    }
}
//*********************************************
//*********** tablets/smaller desktops ********
//*********************************************
@media only screen and (min-width : 769px) and (max-width : 1200px) {
    .main-width {
        width: 98vw;
        display: block;

        .nav-name {
            padding: 30px;
            text-align: center;
        }
        // .menu{
            // display: flex;
            // justify-content: space-around;
        // }
    }
}
//*********************************************
//**************** small desktops *************
//*********************************************
@media only screen and #{$desktop} {
    .main-width {
        width: 90vw;
    }
}
//fix problem with display:none (after clicking on hamburger menu higher resolution didnt show .menu content)
// on screen rezize
@media only screen and (min-width:769px) {
    .menu {
        display: flex !important;
        justify-content: space-around;
    }
}
