
//************* first parallax *****************
#parallax1 {
    background-image: url("../icons/batlleship1parallax.png");
}
//************* second parallax ****************

#services {
    background-image: url("../icons/marine.png");
}

#parallax1, #services {
    width: 100%;
    height: 625px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //add bloody redish layer - Emperor will be proud
    box-shadow: inset 0 0 0 1000px rgba(115, 38, 18,.3);
    position: relative;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    -ms-flex-pack: center;

    .sentence-wrapper {
        display: flex;
        display: -ms-flexbox;
        flex-direction: column;
        -ms-flex-direction: column;

        .parallax-icon {
            margin: 0 auto;
            opacity: 0.5;
            //added height/width - solves problem with image streching in IE
            width: 165px;
            height: 180px;
        }
        text-align: center;
        color: #000;

        .border {
            background-color: #111;
            opacity: 0.5;
            color: #fff;
            padding: 18px;
            font-size: 25px;
            letter-spacing: 10px;
            margin-top: 40px;
        }
    }
}
//*********************************************
//************ media queries ******************
//*********************************************
@media only screen and (max-width:744px) {
    .border {
        padding: 0;
        line-height: 45px;
    }
}
//solution to problems with IE - parallax sections when hamburger menu is showing
@media all and (max-width:769px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #parallax1, #services {
        display: block; //disable flex

        .parallax-icon {
            padding-top: 25%;//parallax elements positioning
        }
    }
}
