#services-slider {
    width: 100%;
    height: 965px;
    background-color: $additional-color;
    opacity: 0.9;
    position: relative;
    @include mainSectionsStyling;

    .white-space {
        width: 70%;
        height: 55px;
        position: absolute;
        bottom: 0;
        left: 15%;
        background-color: $minor1-color;
    }
}
//**************** counter ********************

.services {
    height: 130px;
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    p:first-child {
        font-size: 5rem;
        padding-bottom: 10px;
    }

    p:last-child {
        font-size: 1.3rem;
        color: darken($main-color, 10%);
    }
}
//**************** slider *********************

.motto-slider {
    //480
    height: 450px;
    width: 100%;
    margin-top: 135px;

    .motto-content {
        width: 100%;
        height: 90%;

        .photo {
            width: 170px;
            height: 170px;
            @include borderRadius(50%);
            background-color: $main-color;
            margin: 0 auto 30px;

            &.adepta {
                background-image: url("../icons/adepta_sororita.png");
            }

            &.ork {
                background-image: url("../icons/ork.png");
            }

            &.chaos {
                background-image: url("../icons/chaos.png");
            }

            &.guard {
                background-image: url("../icons/guard.png");
            }

            &.tyranids {
                background-image: url("../icons/tyranids.png");
            }

            &.necrons {
                background-image: url("../icons/necrons.png");
            }
        }

        p:nth-child(2) {
            width: 60%;
            font-size: 2.4rem;
            line-height: 50px;
            font-style: italic;
            color: lighten($minor2-color, 10%);
            margin: 0 auto;
        }

        p:nth-child(3) {
            font-size: 1.7rem;
            // text-transform: uppercase;
            font-weight: bold;
            margin-top: 35px;
        }
    }
}
//*********************************************
//************* media queries *****************
//*********************************************

//**************** counter ********************
//**************** slider *********************

@media only screen and #{$smartphones} {
    #services-slider {
        padding-top: 70px;
        padding-bottom: 70px;
        height: auto;

        .white-space {
            display: none;
        }
    }
    //**************** counter ********************
    .services {
        width: 100%;

        p:first-child {
            font-size: 2rem;
        }

        p:last-child {
            font-size: 1rem;
        }
    }
    //**************** slider *********************
    .motto-slider {
        margin-top: 40px;

        p:nth-child(2) {
            width: 90% !important;
            font-size: 1.5rem !important;
            line-height: 25px !important;
        }

        p:nth-child(3) {
            font-size: 1.5rem !important;
        }
    }
}
@media only screen and #{$bigger-smartphones} {
    #services-slider {
        padding-top: 90px;
        padding-bottom: 90px;

        .white-space {
            display: none;
        }
    }
    //**************** counter ********************
    .services {
        width: 100%;

        p:first-child {
            font-size: 3.3rem;
        }

        p:last-child {
            font-size: 1.2rem;
        }
    }
    //**************** slider *********************
    .motto-slider {
        margin-top: 90px;

        p:nth-child(2) {
            width: 90% !important;
        }
    }
}
@media only screen and #{$tablets} {
    //**************** counter ********************
    .white-space {
        display: none;
    }

    .services {
        width: 90%;

        p:first-child {
            font-size: 4rem;
        }
    }
    //**************** slider *********************
    .motto-slider {
        margin-top: 100px;

        p:nth-child(2) {
            width: 80% !important;
        }
    }
}
