#team {
    width: 100%;
    height: 1930px;
    @include mainSectionsStyling;
}
//*********************************************
//**************** icons **********************
//*********************************************

.swap-icon {
    height: 70px;
    width: 65px;
    display: inline-block;
    margin-top: 130px;
    cursor: pointer;

    &.prev {
        background-image: url("../icons/bloodarrL.png");
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 5px;

        &:hover {
            background-image: url("../icons/bloodarrLh.png");
        }
    }

    &.next {
        background-image: url("../icons/bloodarrR.png");
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 5px;

        &:hover {
            background-image: url("../icons/bloodarrRh.png");
        }
    }
}
//*********************************************
//**************** slider *********************
//*********************************************

.slider {
    width: 65%;
    overflow: hidden;
    margin: 0 auto;
}

.slider-container {
    box-sizing: border-box;
    height: 560px;
    width: 2400px;
    margin: 90px auto;
    padding: 45px 10px;
    display: flex;
    flex-direction: row;

    .slider-content {
        height: 90%;
        width: 250px;
        margin: auto 75px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .hero-pic {
            height: 250px;
            width: 250px;
            margin-bottom: 20px;
            @include borderRadius(50%);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);

            &:hover {
                @include boxShadow(0,8px,20px,0,$additional2-color);
            }
        }

        p:nth-child(2) {
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        p:nth-child(3) {
            font-size: 1.5rem;
            color: $additional2-color;
            margin: 20px 0;
        }

        div {
            width: 120px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            a {
                height: 47px;
                width: 48px;

                &.social-fb {
                    background-image: url("../icons/fb.png");
                    background-position: center;
                    background-repeat: no-repeat;

                    &:hover {
                        background-image: url("../icons/fb2.png");
                    }
                }

                &.social-g {
                    background-image: url("../icons/google.png");
                    background-position: center;
                    background-repeat: no-repeat;

                    &:hover {
                        background-image: url("../icons/google2.png");
                    }
                }
            }
        }
    }
}
//*********************************************
//************ progress bars ******************
//*********************************************

.progressbars-container {
    width: 65%;
    height: auto;
    margin: 270px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .bar-container {
        width: 40%;
        height: auto;
        margin-bottom: 70px;

        .span-holder {
            width: 100%;
            padding: 20px 0;
            display: flex;
            justify-content: space-between;

            span {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.5rem;

                &.label {
                    color: $main-color;
                }
            }
        }

        .progress-bar {
            position: relative;
            // width: 420px;
            width: 100%;
            height: 30px;
            background-color: $additional-color;
            box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.5);

            .progress {
                position: absolute;
                width: 1%;
                height: 100%;
                background-color: $main-color;
            }
        }
    }
}
//*********************************************
//************ media queries ******************
//*********************************************
@media only screen and (max-width: 1300px) {
    #team {
        padding: 90px 0;

        .swap-icon {
            margin-top: 60px;
        }

        .slider-container {
            margin: 0 auto;
        }
    }
}
//********* slider media queries **************
@media only screen and (min-width:320px) and (max-width: 850px) {
    .slider {
        width: 100%;
    }
}
@media only screen and (min-width:320px) and (max-width:350px) {
    .slider {
        .slider-content {
            margin-left: 32px;
        }
    }
}
@media only screen and (min-width:351px) and (max-width:400px) {
    .slider {
        .slider-content {
            margin-left: 55px;
        }
    }
}
@media only screen and (min-width:401px) and (max-width:450px) {
    .slider {
        .slider-content {
            margin-left: 84px;
        }
    }
}
@media only screen and (min-width:451px) and (max-width:500px) {
    .slider {
        .slider-content {
            margin-left: 102px;
        }
    }
}
@media only screen and (min-width:501px) and (max-width:550px) {
    .slider {
        .slider-content {
            margin-left: 130px;
        }
    }
}
@media only screen and (min-width:551px) and (max-width:600px) {
    .slider {
        .slider-content {
            margin-left: 165px;
        }
    }
}
@media only screen and (min-width:601px) and (max-width:650px) {
    .slider {
        .slider-content {
            margin-left: 6px;
        }
    }
}
@media only screen and (min-width:651px) and (max-width:700px) {
    .slider {
        .slider-content {
            margin: auto 42px;
        }
    }
}
@media only screen and (min-width:701px) and (max-width:800px) {
    .slider {
        .slider-content {
            margin: auto 61px;
        }
    }
}
@media only screen and (min-width:801px) and (max-width:850px) {
    .slider {
        .slider-content {
            margin: auto 79px;
        }
    }
}
@media only screen and (min-width:851px) and (max-width:900px) {
    .slider {
        width: 96%;
    }
}
@media only screen and (min-width:901px) and (max-width:1000px) {
    .slider {
        width: 87%;
    }
}
@media only screen and (min-width:1000px) and (max-width:1100px) {
    .slider {
        width: 80%;
    }
}
@media only screen and (min-width:1101px) and (max-width:1200px) {
    .slider {
        width: 72%;
    }
}
@media only screen and (min-width:1201px) and (max-width:1300px) {
    .slider {
        width: 66%;
    }
}
@media only screen and (min-width:1301px) and (max-width:1400px) {
    .slider {
        width: 90%;
    }
}
@media only screen and (min-width:1401px) and (max-width:1600px) {
    .slider {
        width: 83%;

        .slider-content {
            margin: auto 80px;
        }
    }
}
@media only screen and (min-width:1601px) and (max-width:1700px) {
    .slider {
        width: 72%;
    }
}
@media only screen and (min-width:1701px) and (max-width:1800px) {
    .slider {
        width: 71%;
    }
}

//******** skills media queries ***************

@media only screen and (min-width:320px) and (max-width:1493px) {
    #team {
        height: auto;
        .progressbars-container {
            margin-top: 160px;
        }
    }
}
//************* smartphones *******************
@media only screen and #{$smartphones} {
    .progressbars-container {
        width: 90%;

        .bar-container {
            width: 90%;
        }
    }
}
//********** bigger smartphones ***************
@media only screen and #{$bigger-smartphones} {
    .progressbars-container {
        width: 80%;

        .bar-container {
            width: 90%;
        }
    }
}
//*************** tablets ********************
@media only screen and #{$tablets} {
    .progressbars-container {
        width: 90%;
    }
}
//*************** tablets2 ********************
@media only screen and #{$tablets2} {
    .progressbars-container {
        width: 80%;
    }
}
//*************** desktop *********************
@media only screen and #{$desktop} {
    .progressbars-container {
        width: 80%;
        margin-top: 220px !important;
    }
}
