

//*********************************************
//mixin for animated icon (#scroller) in HEADER
//*********************************************
@mixin bounce($animation) {
     @-webkit-keyframes bounce{
        0%,100%,20%,50%,80% {
            -webkit-transform: translateY(0);
        }

        40% {
            -webkit-transform: translateY(-30px);
        }

        60% {
            -webkit-transform: translateY(-15px);
        }
    }
    @keyframes bounce {
        0%,100%,20%,50%,80% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-30px);
        }

        60% {
            transform: translateY(-15px);
        }
    }
    -webkit-animation: $animation;
    animation: $animation;
}

//*********************************************
//*********** mixins for HEADER ***************
//*********************************************

//*********** all smartphones *****************
@mixin mediaSmartphones {
     @include grid-system(12, 100vw, 4px);
    padding-bottom: 95%;

    .col-2 {
        display: none;
    }

    #scroller {
        display: none;
    }
}
//************** all tablets ******************
@mixin mediaTablets {
    padding-bottom: 95%;
    height: auto;

    #scroller {
        display: none;
    }
}
