
//colors main
$main-color: rgb(115, 38, 18);
$accent-color: rgb(181, 140, 130);
$additional-color: rgb(165, 116, 114);
//colors socials
$facebook-color: rgb(45, 68,  133);
$twitter-color: rgb(0, 182, 241);
$google-color: rgb(221, 80, 68);

//media queries breakpoints
$smartphones: "(min-device-width : 320px) and (max-device-width : 480px)";
$bigger-smartphones: "(min-device-width : 481px) and (max-device-width : 768px)";
$tablets: "(min-device-width : 769px) and (max-device-width : 1024px)";
$tablets2: "(min-device-width : 1025px ) and (max-device-width : 1200px)";
$desktop: "(min-device-width : 1201px ) and (max-device-width : 1493px)";
$desktop2: "(min-device-width : 1494px)";
